{# 
base.html

This template constitutes the 'base' file that's inherented by every
other template.

It contains things that we'd want in every page - such as the navbar,
header and footer.
#}

<html lang="en">
    <head>
        {% if title %}
            <title>MediSoft - {{ title }}</title>
        {% else %}
            <title>MediSoft</title>
        {% endif %}

        {# Style sheets and favicon - included on all pages #} 
        <link rel="shortcut icon" href="/static/img/favicon.ico">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/css/materialize.min.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/general.css"/>

        {# Page specific CSS injection point #}
        {% block stylesheets %}{% endblock %}     
    </head>
    <body>

        <!-- Nav bar -->
        <nav class="red darken-3" role="navigation">
            <div class="nav-wrapper container">
                
                <a class="left" id="logo-container" class="brand-logo" href="/"/>
                    <img src="/static/img/caduceus_logo.svg" height="64"/>
                </a>
                
                <ul id="nav-main" class="right">
                    {% if current_user.is_anonymous %}
                        <li><a href="{{ url_for('login') }}" id="nav-login-btn">Login</a></li>
                        <li><a href="{{ url_for('register') }}" id="nav-register-btn">Register</a></li>
                    {% else %}
                        <li><a href="{{ url_for('logout') }}" id="nav-logout-btn">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <div class="container">
            {% block content%}{% endblock %}
            {% block container %}
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
            {% endblock %}
        </div>

        {# Javascript that's included on all pages #}
        <script type="text/javascript" src="/static/js/materialize.min.js" defer></script>
        
        {# Page specific JS injection point #}
        {% block scripts %}{% endblock %}

    </body>
</html>
