{#
booking.html

This template is where a patient makes a booking with a health provider.
#}
{% extends 'base.html' %}

{#----- Main content block for booking page -----#}
{% block content %}
    <div class="row">
        <h2>Make a booking </h2>
        <div class="divider"></div>
        <br>
        {% if current_user.role != 'Patient' %}
            Hey! You're not supposed to be here, you sneaky beaky.
        {% else %}

            {# This is where the user picks the provider they're booking with #}
            {# Upon selecting a provider, submit it to the same page so we can load their centres #}
            <div class="col s16 m6">
                <div class="input-field">
                    <form method="POST" action="/booking">
                    <select name="provider_selection" onchange="this.form.submit()">
                        {# If we've had a provider passed to us default to that, otherwise, show a prompt #}
                        {% if provider %}
                            <option value="{{ provider.username }}" selected>{{provider.name}}
 ({{ provider.username }})</option>
                        {% else %}
                            <option value="" disabled selected>Which provider would you like to see?</option>
                        {% endif %}

                        {# Populate the options from all providers #}
                        {% for p in providers %}
                            <option value="{{ p.username }}">{{p.name}} ({{ p.username }})</option>
                        {% endfor %}
                    </select>
                    <label>Select a provider</label>
                    </form>
                </div>
            </div>
        </div>

        {# If we've got a provider we'd like to book for, show their centres #}
        {% if provider %}
            <form method="POST" action="/booking">
                <input type=hidden name=provider_selection value={{ provider.username }}>
                <div class="row">
                    <div class="col s12 m6">
                        <label>Select a centre</label><br>
                        {% for works_at in provider.Works_At %}
                            <label style="color:black">
                                <input type=radio name=centre_selection value="{{ works_at.centre.name }}" required>
                                <span>{{ works_at.centre.name }}</span>
                            </label><br>
                        {% endfor %}
                    </div>
                </div>

                {# Date, time & reason for visit #}
                <div class="row">
                    <div class="col s12 m6">
                        <label>Date of appointment</label>
                        <input type="text" name=date class="datepicker" required
                               placeholder="What date would you like your appointment?">
                        <label>Time of appointment</label>                    
                        <select class="browser-default" name = time>                            
                        <option value = 00:00>00:00 - 00:30</option>          
                        <option value = 00:30>00:30 - 1:00</option>                            
                        <option value = 1:00>1:00 - 1:30</option>          
                        <option value = 1:30>1:30 - 2:00</option>                              
                        <option value = 2:00>2:00 - 2:30</option>          
                        <option value = 2:30>2:30 - 3:00</option>                              
                        <option value = 3:00>3:00 - 3:30</option>          
                        <option value = 3:30>3:30 - 4:00</option>                              
                        <option value = 4:00>4:00 - 4:30</option>          
                        <option value = 4:30>4:30 - 5:00</option>                              
                        <option value = 5:00>5:00 - 5:30</option>          
                        <option value = 5:30>5:30 - 6:00</option>                              
                        <option value = 6:00>6:00 - 6:30</option>          
                        <option value = 6:30>6:30 - 7:00</option>                              
                        <option value = 7:00>7:00 - 7:30</option>          
                        <option value = 7:30>7:30 - 8:00</option>                              
                        <option value = 8:00>8:00 - 8:30</option>          
                        <option value = 8:30>8:30 - 9:00</option>                              
                        <option value = 9:00>9:00 - 9:30</option>          
                        <option value = 9:30>9:30 - 10:00</option>                              
                        <option value = 10:00>10:00 - 10:30</option>          
                        <option value = 10:30>10:30 - 11:00</option>                              
                        <option value = 11:00>11:00 - 11:30</option>          
                        <option value = 11:30>11:30 - 12:00</option>                              
                        <option value = 12:00>12:00 - 12:30</option>          
                        <option value = 12:30>12:30 - 13:00</option>                              
                        <option value = 13:00>13:00 - 13:30</option>          
                        <option value = 13:30>13:30 - 14:00</option>                              
                        <option value = 14:00>14:00 - 14:30</option>          
                        <option value = 14:30>14:30 - 15:00</option>                              
                        <option value = 15:00>15:00 - 15:30</option>          
                        <option value = 15:30>15:30 - 16:00</option>                              
                        <option value = 16:00>16:00 - 16:30</option>          
                        <option value = 16:30>16:30 - 17:00</option>                              
                        <option value = 17:00>17:00 - 17:30</option>          
                        <option value = 17:30>17:30 - 18:00</option>                              
                        <option value = 18:00>18:00 - 18:30</option>          
                        <option value = 18:30>18:30 - 19:00</option>                            
                        <option value = 19:00>19:00 - 19:30</option>          
                        <option value = 19:30>19:30 - 20:00</option>                              
                        <option value = 20:00>20:00 - 20:30</option>          
                        <option value = 20:30>20:30 - 21:00</option>                              
                        <option value = 21:00>21:00 - 21:30</option>          
                        <option value = 21:30>21:30 - 22:00</option>                              
                        <option value = 22:00>22:00 - 22:30</option>          
                        <option value = 22:30>22:30 - 23:00</option>                              
                        <option value = 23:00>23:00 - 23:30</option>          
                        <option value = 23:30>23:30 - 24:00</option>                              
                        </select>
                        <label>Reason for visit</label>
                        <input type="text" name=reason placeholder="Reason for visit">
                    </div>
                </div>
                <button class="btn waves-effect waves-light" type="submit">Book appointment</button>
            </form>
        {% endif %}

        {# Populate feedback message based off of the result #}
        {% if result == 'Added' %}
            <a class="green-text">An appointment was booked with {{ provider.username }}. You may review your bookings and
                their status <a href="/manage_bookings">here.</a></a>
        {% elif result == 'Clash' %}
            <a class="red-text">Your appointment clashed with an existing appointment - please try again with a different
                time.</a>
        {% elif result == 'Past' %}
            <a class="red-text">As much as you want to relive your past - you can't. Book for the future, friend.</a>
        {% elif result == 'Hours' %}
            <a class="red-text">Your appointment falls outside of the provider's working hours. You may view them <a
                    href="/profile/{{ provider.email }}">here.</a></a>
        {% endif %}
    {% endif %}
{% endblock %}

{# Page specific JS #}
{% block scripts %}
    <script src="/static/js/booking.js"></script>
{% endblock %}
