{#
index.html

This template contains the HTML for the root index page of the
application.

It's basically a placeholder at this point, and should include 
the system we can use for booking / viewing appointments and
that good stuff.
#}

{% extends "base.html" %}

{% block stylesheets %}
    {#----- index.html specific stylesheets -----#}

    <link rel="stylesheet" type="text/css" href="/static/css/index.css"
{% endblock %}

{% block content %}
    {#----- Main content block for login page -----#}


    <div class="row">
        <h3>Welcome to Medi-soft, {{ current_user.username }}!</h3>
        <div class="divider"></div>
        <br>
        <div class="col s6 offset-s3">
            <button class="btn-large waves-effect waves-light greedy-btn" type="button" onclick="window.location.href='{{url_for('search')}}';">Search Medi-soft database.</button>
            <br><br>
            {% if current_user.role == 'Patient' %}
                <button class="btn-large waves-effect waves-light greedy-btn" type="button" onclick="window.location.href='{{url_for('booking')}}';">Make a booking</button>
                <br><br>
                <button class="btn-large waves-effect waves-light greedy-btn" type="button" onclick="window.location.href='{{url_for('manage_bookings')}}';">Manage my bookings (patient)</button>
                <br><br>
            {% else %}
                <button class="btn-large waves-effect waves-light greedy-btn" type="button" onclick="window.location.href='{{url_for('manage_bookings')}}';">Manage my bookings (provider)</button>
                <br><br>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {#----- index.html specific javascript -----#}

{% endblock %}

