{#
index.html

This template contains the HTML for the root index page of the
application.

It's basically a placeholder at this point, and should include 
the system we can use for booking / viewing appointments and
that good stuff.
#}

{% extends "base.html" %}

{% block stylesheets %}
    {#----- index.html specific stylesheets -----#}

    <!-- <link rel="stylesheet" type="text/css" href="/static/css/index.css"/> -->
{% endblock %}

{% block content %}
    {#----- Main content block for login page -----#}

    <h1>Logged in as: {{ current_user.username }}</h1>
    <br><br><br>
    <h2>Woo, go you!</h2>
    <br><br><br>
{% endblock %}

{% block scripts %}
    {#----- index.html specific javascript -----#}
<a href="{{url_for('search')}}">CLICK HERE TO SEARCH</a><br><br>
    {% if user._isprovider == 1 %}
<a href="{{url_for('appointments')}}">CLICK HERE TO SEE BOOKINGS (PROVIDER)</a><br><br>
    {% else %}
<a href="{{url_for('currBooking')}}">CLICK HERE TO SEE BOOKINGS (PATIENT)</a><br><br>        
    {% endif %}
{% endblock %}

