{#
login.html

This template generates the HTML for the login page.
#}

{% extends "base.html" %}

{#----- Main content block for login page -----#}
{% block content %}

    <div class="container">
        <h4>Sign In</h4>
        <hr>
        {# Login form #}
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=64) }}<br>
                {% for error in form.username.errors %}
                    <!-- We probably shouldn't use inline css here. -->
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=64) }}<br>
                {% for error in form.password.errors %}
                    <!-- We probably shouldn't use inline css here. -->
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <!-- There is probably a better way to do this with flask-wtf (form.submit)-->
            <p>
                <button id="login-btn" class="btn-large waves-effect waves-light red darken-3" type="submit"
                        name="action">
                    <input class="white-text" type="submit" value="Login">
                </button>
            </p>
        </form>
        <p>Don't have an account? <a href="{{ url_for('register') }}">Register now!</a></p>
    </div>
{% endblock %}