{% extends 'base.html' %}

{% block content %}

<h1>EDIT NOTES</h1>

<a href = '/patientHistory/{{patient}}'> back to patient history</a>

<h4>Current Notes</h4>
<p>{{app.notes}}</p><br><br>
{% if app.provider.email == user.email %}
    <b>MODIFY:</b>
<form method="POST" action = '/modifyNote/{{app.id}}'>
    <input placeholder = "{{app.notes}}" value = "{{app.notes}}" name = message>
    <input type = hidden name = patient value = '{{patient}}'>
    <button class="red darken-2 waves-effect waves-light btn" type="submit" 
            name = 'action' value = 'edit'>Save</button>
    <br><br>Refer to a specialist
    <select class="browser-default" name = specialist>   
        <option value = "nobody" selected>Don't refer</option>
        {% for expertise in specialists %}
        <option value = "{{expertise}}">{{expertise}}</option>
        {% endfor %}
    </select>                     
</form>
{% else %}
    <b>ADD ON:</b>
<form method="POST" action = '/modifyNote/{{app.id}}'>
    <input type=hidden name=action value='add'>
    <input placeholder = "{{app.notes}}" name = message>
    <input type = hidden name = patient value = '{{patient}}'>
    <button class="red darken-2 waves-effect waves-light btn" type="submit">Save</button>
</form>
{% endif %}
{% if change %}
<p class = green-text> Change Successful! </p>
{% endif %}
{% endblock %}
