{% extends 'base.html' %}

{% block content %}
<h1> PATIENT HISTORY </h1>
<a href = '/profile/{{patient.email}}'> back to profile</a><br>
{% if len <= 0 %}
    <p1> patient has no history of appointments </p1>
{% else %}

    {% if patient.see_specialist != 'none' %}
        <p class = green-text> Patient has been referred to a {{patient.see_specialist}}</p>
    {% else %}
        <p class = orange-text> Patient has not been referred to a specialist</p>                
    {% endif %}
    
    {% for b in completed %}



        <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title"><b>Booking with {{b.provider.name}}</b></span><br>
                    <b>Date</b>: {{b.start_time}} at {{b.centre.name}}<br><br>
                    <b>Reason:</b><br>
                    {{b.reason}}<br><br>
                    <b>Notes:</b> <br>
                    {{b.notes}}<br><br>  
                    <form method="POST" action = '/modifyNote/{{b.id}}'>
                        <input type=hidden name=ID value='{{b.id}}'>
                        <input type=hidden name=action value='display'>
                        <input type = hidden name = patient value = {{patient.username}}>
                        <button class="red darken-2 waves-effect waves-light btn" type="submit">Modify</button>
                    </form>
                </div>
            </div>
        </div>
        </div>

         

    {% endfor %}
{% endif %}
{% endblock %}
 <p>{{b.start_time}} - {{b.end_time}} with {{b.provider.username}}</p>
            {{b.notes}}
            <form method="POST" action = '/modifyNote/{{b.id}}'>
                <input type=hidden name=ID value='{{b.id}}'>
                <input type=hidden name=action value='display'>
                <input type = hidden name = patient value = {{patient.username}}>
                <button class="red darken-2 waves-effect waves-light btn" type="submit">Edit</button>
            </form>
            <br><br><br>
