{#
profile.html

This template generates the HTML for the profile page.
#}

{% extends "base.html" %}

{# ----- Profile page specific CSS ----- #}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/static/css/profile.css"/>
{% endblock %}

{#----- Main content block for profile page -----#}
{% block content %}

    {# Profile heading & content #}
    {# If the profile is for a centre, show its relevant attributes #}
    {% if type == 'centre' %}
        <center><h2> Healthcentre Information </h2></center>

        {# ----- General information ----- #}
        <h5>General Information</h5>
        <center>
            <table class="responsive-table highlight">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>ABN</th>
                    <th>Suburb</th>
                    <th>Phone</th>
                    <th>Average Rating</th>
                    <th>Type</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ object.name }}</td>
                    <td>{{ object.abn }}</td>
                    <td>{{ object.suburb }}</td>
                    <td>{{ object.phone }}</td>
                    <td>{{ object.calc_rating() }}</td>
                    <td>{{ object.type }}</td>
                </tr>

                </tbody>
            </table>
        </center>
        <br>

        {# ----- Providers ----- #}
        <h5>Providers</h5>
        <center>
            <table class="responsive-table highlight" border="1">
                <tr>
                    <th>Provider name</th>
                    <th>Service</th>
                </tr>
                <tr>
                    {% for provider in object.has_providers() %}
                        <tr>
                            <td><a href="/profile/{{ provider.username }}">{{ provider.username }}</a></td>
                            <td>{{ provider.role }}</td>
                        </tr>
                    {% endfor %}
                </tr>
            </table>
        </center>

        {# ----- Give Rating ----- #}
        <h5>Give rating</h5>
        <form>
            <select class="browser-default" name=rating>
                <option value="" disabled>Choose a rating</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>

            <button type="submit" class="btn waves-effect waves-light">Submit</button>
        </form>

    {# If the profile is for a user, show its relevant attributes #}
    {% elif type == 'user' %}
        <center><h2> User Information</h2></center>

        {# ----- General information ----- #}
        <h5>General Information</h5>
        <table class="responsive-table highlight">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Type</th>
                {% if object.role == 'Patient' %}
                    <th>Medicare Number</th>
                {% else %}
                    <th>Provider Number</th>
                    <th>Average Rating</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ object.username }}</td>
                <td>{{ object.email }}</td>
                <td>{{ object.phone_number }}</td>
                <td>{{ object.role }}</td>
                {% if object.role == 'Patient' %}
                    <td>{{ object.medicare_number }}</td>
                {% else %}
                    <td>{{ object.provider_number }}</td>
                    <td>{{ object.calc_rating() }}</td>
                {% endif %}
            </tr>
            </tbody>
        </table>

        {# ----- Providers ----- #}
        {% if object.role != 'Patient' %}
            <h5>Works in the following</h5>
            <table class="responsive-table highlight" border="1">
                <tr>
                    <th>Healthcentre name</th>
                    <th>Type</th>
                    <th>Hours start</th>
                    <th>Hours ends</th>
                </tr>
                <tr>
                    {% for w in object.Works_At %}
                        <tr>
                            <td><a href="/profile/{{ w.centre.name }}">{{ w.centre.name }}</a></td>
                            <td>{{ w.centre.type }}</td>
                            <td>{{ w.hours_start }}</td>
                            <td>{{ w.hours_end }}</td>
                        </tr>
                    {% endfor %}
                </tr>
            </table>

            {# ----- Give Rating ----- #}
            <h5>Give rating</h5>
            <form>
                <select class="browser-default" name=rating>
                    <option value="" disabled>Choose a rating</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>

                <button type="submit" class="btn waves-effect waves-light">Submit</button>
            </form>
        {% endif %}
    {% endif %}
{% endblock %}