{#
profile.html

This template generates the HTML for the profile page.
#}

{% extends "base.html" %}

{% block stylesheets %}
    {# >> INSERT CSS HERE << #}
    <style type="text/css">
    body {
        color: purple;
        background-color: #d8da3d }
    </style>
{% endblock %}

{% block content %}
    <center><h1>Profile Display</h1></center>
    <center><h2> Information </h2> </center>
    <table>
        <tr>Name</tr>
    </table>
{% endblock %}

{% block scripts %}
    {# >> INSERT SCRIPTS HERE << #}
{% endblock %}