{#
profile.html

This template generates the HTML for the profile page.
#}

{% extends "base.html" %}

{% block stylesheets %}
    {# >> INSERT CSS HERE << #}

{% endblock %}

{% block content %}
    <h1>TEST9</h1>
<form method="POST" action="/search">
    <input type = hidden name = c value = {{c}}>
    <input type = hidden name = p value = {{p}}>
    <input type = hidden name = result value = 1>
    <input type = hidden name = israting value = 0>
    <button class = "waves-effect waves-light btn" type= "submit"
            name = search value = {{search}}>Return to results</button>
</form>
    <center><h1>Profile Display</h1></center>
    {% if object._isuser == 0 %}
    <center><h2> Health centre Information </h2> </center>
    <center><table border = "1"></center>
        <tr>
        <td>Name<td>
        <td>{{object._name}}<td>
        </tr>
        <tr>
        <td>Abn<td>
        <td>placeholder<td>
        </tr>
        <tr>    
        <td>suburb<td>
        <td>{{object._suburb}}<td>
        </tr>
        <tr>    
        <td>phone<td>
        <td>{{object._name}}<td>
        </tr>
        <tr>    
        <td>services<td>
        <td>{{object._service}}<td>
        </tr>
        <tr>    
        <td>ratings<td>
        <td>{{object.get_rating()}}<td>
        </tr>
        <tr>    
        <td>type<td>
        <td>{{object._type}}<td>
        </tr>
    </table>

    <h4> Providers currently working here </h4>
    {% for provider in object._providerList %}
        <h6>{{provider}}</h6>
        <form method="POST" action="/profile/{{provider._full_name}}">
            <input type = hidden name = search value = {{s}}>
            <input type = hidden name = c value = {{c}}>
            <input type = hidden name = p value = {{p}}>
            <input type = hidden name = israting value = 0>            
            <button type="submit" name = provider class = "btn waves-effect waves-light"
             value = "{{provider._email_address}}">View Profile</button>
        </form><br>   
        {% endfor %}
    <center><h5>Give rating</h5></center>
    <form method = "POST">

        <!--<label>Browser Select</label> -->
        <select class="browser-default" name = rating>
        <option value="" disabled >Choose a rating</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        </select>
        <input type = hidden name = c value = {{c}}>
        <input type = hidden name = p value = {{p}}>
        <input type = hidden name = result value = 1>
        <input type = hidden name = "israting" value = 1>
        <input type = hidden name = provider value = "{{object._name}}">
        <button type="submit" name = search value = "{{search}}">Submit</button>
    </form>
    {% endif %}
    {% if object._isuser == 1 %}
    <center><h2> Health provider Information </h2> </center>
    <center><table border = "1"></center>
        <tr>    
        <td>email<td>
        <td>{{object._email_address}}<td>
        </tr>
        <tr>    
        <td>name<td>
        <td>{{object._full_name}}<td>
        </tr>
        <tr>    
        <td>phone<td>
        <td>{{object._phone_number}}<td>
        </tr>
        <tr>    
        <td>ratings<td>
        <td>{{object.get_rating()}}<td>
        </tr>
        <tr>    
        <td>type<td>
        <td>{{object._type}}<td>
        </tr>          
    </table>
    <center><h2>Give rating</h2></center>
    <form method = "POST">

        <!--<label>Browser Select</label> -->
        <select class="browser-default" name = rating>
        <option value="" disabled >Choose a rating</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        </select>
        <input type = hidden name = c value = {{c}}>
        <input type = hidden name = p value = {{p}}>
        <input type = hidden name = result value = 1>
        <input type = hidden name = "israting" value = 1>
        <input type = hidden name = provider value = "{{object._email_address}}">
        <button type="submit" name = search value = "{{search}}">Submit</button>
    </form>
    {% endif %}
{% endblock %}

{% block scripts %}
    {# >> INSERT SCRIPTS HERE << #}
{% endblock %}
