{% extends "base.html" %}

{#----- Main content block for search page -----#}
{% block content %}

    {# Set checkbox value from previous form submission, if it exists, othewise set it to 0 #}
    {# This means checkboxes will retain whether it's checked or not, but start unchecked #}
    {% set do_centre_search = form['do_centre_search']|default(0) %}
    {% set do_user_search = form['do_user_search']|default(0) %}

    <div class="row">
        <h2>Search Medi-soft</h2>
        <div class="divider"></div>
        <br>

        <form method="POST">
            {# Checkbox for performing centre search #}
            <div>
                <label>
                    <input type="checkbox" id="do_centre_search" name="do_centre_search" value={{ do_centre_search }}
                            {% if do_centre_search %} checked {% endif %}>
                    <span class="black-text">View Centres</span>
                </label>
            </div>

            {# Checkbox for performing user search #}
            <div>
                <label>
                    <input type="checkbox" id="do_user_search" name="do_user_search" value={{ do_user_search }}
                            {% if do_user_search %} checked {% endif %}>
                    <span class="black-text">View Users</span>
                </label>
            </div>

            {# Search field input boxes #}
            <input name="u_name" placeholder="User Name"
                    {% if form %} value="{{ form["u_name"] }}" {% endif %}>
            </input>

            <input name="u_type" placeholder="User Type"
                    {% if form %} value="{{ form["u_type"] }}" {% endif %}>
            </input>

            <input name="c_name" placeholder="Centre Name"
                    {% if form %} value="{{ form["c_name"] }}" {% endif %}>
            </input>

            <input name="c_suburb" placeholder="Suburb"
                    {% if form %} value="{{ form["c_suburb"] }}" {% endif %}>
            </input>

            <input name="c_type" placeholder="Centre Type"
                    {% if form %} value="{{ form["c_type"] }}" {% endif %}>
            </input>

            <br/>

            {# Search submission button #}
            <div style="margin: 10px 0px">
                <button class="btn waves-effect waves-light" type="submit">Submit</button>
            </div>
        </form>

        {# If any results of either centre or provider searches are found, display them #}
        {% if results_found %}
            <h2 class="red-text"> Results </h2>

            <ul class="collapsible">
                {# If there are any centres found, display them otherwise don't bother #}
                {% if centre_results|length > 0 %}

                    <li>
                        <div class="collapsible-header valign-wrapper"><i class="material-icons">local_hospital</i><h5
                                class="blue-text">Centres</h5></div>
                        <div class="collapsible-body">

                            <table class="responsive-table">
                                <th>Name</th>
                                <th>Suburb</th>

                                {% for centre in centre_results %}
                                    <tr>
                                        <td><a href="/profile/{{ centre.name }}">{{ centre.name }}</a></td>
                                        <td> {{ centre.suburb }}</td>

                                        {# Uncomment if we want to include button for profile #}
                                        {# <td>#}
                                        {#     <form method="POST" action="/profile/{{ centre.name}}">#}
                                        {#         <button type="submit" name=centre value={{ centre }}#}
                                        {#         class="btn waves-effect waves-light">View Profile</button>#}
                                        {#     </form>#}
                                        {# </td>#}
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </li>
                {% endif %}

                {# If there are any users found, display them #}
                {% if user_results|length > 0 %}
                    <li>
                        <div class="collapsible-header valign-wrapper"><i class="material-icons">face</i><h5
                                class="blue-text">Users</h5></div>
                        <div class="collapsible-body">
                            <table class="responsive-table">
                                <th>Username</th>
                                <th>Role</th>

                                {% for user in user_results %}
                                    <tr>
                                        <td><a href="/profile/{{ user.username }}">{{ user.username }}</a></td>
                                        <td> {{ user.role }}</td>
                                        <td>
                                            {# Ensure the following:
                                               - We can't book appointments with patients or with ourselves
                                               - We can't book appointments with ourselves.
                                               - We can't book appointments if we are not a patient.
                                             #}
                                            {% if user.role != 'Patient' and user.username != current_user.username and current_user.role == 'Patient' %}
                                                <form method="POST" action="/booking">
                                                    {#                                    <input type=hidden name=provider value={{ user.username }}>#}
                                                    <button type="submit" name=provider_selection
                                                            value={{ user.username }}
                                                                    class="btn waves-effect waves-light
                                                    ">Book appointment
                                                    </button>
                                                </form>
                                            {% endif %}
                                        </td>
                                        {# Uncomment if we want to include button for profile #}
                                        {# <td>#}
                                        {#     <form method="POST" action="/profile/{{ user.email }}">#}
                                        {#         <button type="submit" name=user value={{ user }}#}
                                        {#         class="btn waves-effect waves-light">View Profile</button>#}
                                        {#     </form>#}
                                        {# </td>#}
                                    </tr>

                                {% endfor %}
                            </table>
                        </div>
                    </li>
                {% endif %}

            </ul>
        {# Otherwise, indicate that no results were found #}
        {% else %}
            <h1 style="color:red;"> Results </h1>
            <p1> No matching results. Please try altering your search space or criteria!</p1>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="/static/js/search.js"></script>
{% endblock %}
