{% extends "base.html" %}

{% block content %}

<h1> SEARCH </h1>

	<form method = "POST">

        <div>
            <label>
            <input type="checkbox" id="centre" name="c" value = 1 {% if c%} checked {% endif %}>  
            <span style = "color:black;">Search for centres</span>
            <label/>

        </div>
        <div>
            <label>           
            <input type="checkbox" id="provider" name="p" value = 1  {% if p %}checked {% endif %}>  
            <span style = "color:black;">Search for providers</span>            
            <label>
        </div>
        </p>
	    <div style="margin: 10px 0px">
			<input name = "search" placeholder = "Please Enter Search" {% if results%}value = {{s}} {% endif %}> </input>
            {% if empty %} 
                <p1> <- enter search </p1>
            {% endif %}

            <br/>
		</div>
        <input type = "hidden" name = "c" value = 0>
        <input type = "hidden" name = "p" value = 0>
        <button class = "btn waves-effect waves-light" type="submit">Submit</button>
    </form>

{% if results %}
<h1 style = "color:red;"> RESULTS </h1>
{% if noDisplay %}
    <p1> No matching results for "{{s}}" please search again </p1>
{% endif %} 

{% if noDisplay != 1 %}
    {% if c %}

    <h3 style = "color:blue;"> CENTRES </h3>
    {% for a in display %}
    <h4> {{a}} </h4>
        <form method="POST" action="/profile/{{a._name}}">
            <input type = hidden name = search value = {{s}}>
            <input type = hidden name = c value = {{c}}>
            <input type = hidden name = p value = {{p}}>
            <input type = hidden name = israting value = 0>            
            <button type="submit" name = provider class = "btn waves-effect waves-light"
             value = "{{a._name}}">View Profile</button>
        </form><br>

    {% endfor %}
    {% endif %}


    {% if p %}
        <h3  style = "color:blue;"> PROVIDERS </h3>
        {% for a in display2 %}
            <p1> {{a}} </p1>
            <form method="POST" action="/booking">
                <input type = hidden name = search value = {{s}}>
                <input type = hidden name = c value = {{c}}>
                <input type = hidden name = p value = {{p}}>
                <input type = hidden name = book value = 0>
                <button type="submit" name = provider value = {{a._full_name}}
                        class = "btn waves-effect waves-light">Book</button>
            </form>
            <form method="POST" action="/profile/{{a._full_name}}">
                <input type = hidden name = search value = {{s}}>
                <input type = hidden name = c value = {{c}}>
                <input type = hidden name = p value = {{p}}>
                <input type = hidden name = israting value = 0>
                <button type="submit" name = provider  value = {{a._email_address}}
                        class = "btn waves-effect waves-light">View Profile</button>
            </form>
        {% endfor %}
        {% endif %}
    {% endif %}
{% endif %}
{% endblock %}
